/computer_vision/verification_by_photo/dlib_face_recognition_resnet_model_v1.dat
/computer_vision/verification_by_photo/shape_predictor_68_face_landmarks.dat
/computer_vision/cats_vs_dogs/small_dataset/
